@import url('https://fonts.googleapis.com/css2?family=family=Roboto:wght@300;500&display=swap');

/* сбрасываем стандартные стили для браузеров */
body {
	margin: 0;
}

a {
	text-decoration: none;
}

ul, ol {
	padding: 0;
}

li {
	list-style: none;
}
.active_menu_link {
	text-shadow: 5px 2px 30px rgba(223, 96, 250, 1);
	text-emphasis: uppercase;
}

/* http://htmlbook.ru/css/box-sizing */
* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	transition: .3s ease-in-out
}

/* сбрасываем стандартные стили для браузеров */


/* header styles START */
#wrapper {
	margin: 0 auto;
	width: 1200px;
	background: #eee;

}

header h1 {
	text-align: center;
	font-size: 40px;
	margin: 0;
	padding: 50px 0;
	text-shadow: 2px 2px 17px rgba(150, 90, 150, 0.87);
	text-transform: uppercase;
	color: #424242;
}

header nav {
	overflow: hidden;
}

header nav a {
	display: block;
	float: left;
	text-align: center;
	color: #fff;
	width: 240px;
	background: #000;
	padding: 25px 0;
	transition: .3s ease-in-out
}

header nav a:hover {
	color: #000;
	background: #fff;
}



/* header styles END */


/* main styles START */

main {
	overflow: hidden;
}

.product_item {
	display: block;
	float: left;
	width: 400px;
	height: 400px;
	opacity: .5;
}

.product_item:hover {
	opacity: 1;
}

.product_item img {
	width: 100%;
}
/* main styles END */
footer {
	background: #424242
	padding:50px 0;
}
footer p {
	width: 800px;
	margin: 0 auto;
	text-emphasis: center;
	color: #ddd; 
}
footer p:last-child {
	margin-top: 20px;
}
footer p span {
	text-transform: uppercase;
	font-weight: 800;
}


.cat_item  {
  width: 300px; 
  height:300px;
  float: left;
  text-align: center;
}
.cat_item img {
	width: 35%;
	display: block;
	margin: 0 auto;
}
.cat_item p {
	font-size: 11px;
	width: 240px;
	margin: 0 auto 20px auto;
}
.cat_item a {
	display: block;
	background: #000;
	color:#fff;
	width: 240px;
	margin:0 auto;
	padding: 10px 0;
	background-origin: 25px;
	border:1px solid red;
}
#categoryes_page h2 {
	text-emphasis: none;
	font-size: 
}